<section class="content-section" id="contact">
    <div class="container">
      <h2 class="title text-center mx-auto my-0 text-uppercase">Contact</h2>
      <br /><br /><br /><br /><br />
        <div class="row"> 
            <div class="col-10 mx-auto">
                <form id="contactForm" action="" method="POST" role="form">
                    <div class="control-group" id="divName"> 
                        <div class="form-group floating-label-form-group controls">
                        <input type="text" class="form-control" placeholder="First Name" id="firstName" style="border-left:none;border-top:none;border-right:none;background:transparent;border-bottom:1px solid #9FA4C4" required>
                        <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group" id="divName"> 
                        <div class="form-group floating-label-form-group controls">
                        <input type="text" class="form-control" placeholder="Last Name" id="lastName" style="border-left:none;border-top:none;border-right:none;background:transparent;border-bottom:1px solid #9FA4C4" required>
                        <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group" id="divEmail">
                        <div class="form-group floating-label-form-group controls">
                        <input type="email" class="form-control" placeholder="Email Address" id="email" style="border-left:none;border-top:none;border-right:none;background:transparent;border-bottom:1px solid #9FA4C4" required>
                        <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group" id="divMessage">
                        <div class="form-group floating-label-form-group controls">
                        <textarea rows="3" class="form-control" placeholder="Comments/Questions" id="message" style="border-left:none;border-top:none;border-right:none;background:transparent;border-bottom:1px solid #9FA4C4" required></textarea>
                        <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                    <div id="messageStatus" style="visibility: hidden">
                        <div class="alert alert-success">
                            <i class="fa fa-check fa-fw"></i> 
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn float-left" id="sendMessageButton" style="color: #9FA4C4; background-color: #fff;">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>