<section class="contact-section bg-black">
    <div class="container-fluid">

        <div class="social d-flex justify-content-center">
            <a href="#" class="mx-2">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#" class="mx-2">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="#" class="mx-2">
                <i class="fab fa-twitter"></i>
            </a>
        </div>

    </div>
</section>

<!-- Footer -->
<footer class="bg-black small text-center text-white-50">
    <div class="container-fluid">
        All rights reserved &copy; Sweet Beez, 2019
        <br>
        <!-- <small> Actually register our copyright at some point lol </small> -->
        <a href="https://www.freepik.com/photos/people">Anti-cellulite photo created by javi_indy - www.freepik.com</a>
    </div>
</footer>

