<link
  href="{{ url_for('static', filename='css/emima-site/includes/services.css') }}"
  rel="stylesheet"
/>

<section class="content-section" id="portfolio">
  <div class="container">
    <!-- <div class="content-section-heading text-center"> -->
    <!-- <h3 class="text-secondary mb-0">Services</h3> -->
    <h2 class="title text-center mx-auto my-0 text-uppercase">Services</h2>
    <br /><br /><br /><br /><br />
    <!-- </div> -->
    <div class="row no-gutters">
      <div class="col-lg-6">
        <a
          class="portfolio-item"
          target="_blank"
          rel="noopener noreferrer"
          href="#"
        >
          <span class="caption">
            <span class="caption-content">
              <h1>Anti-cellulite</h1>
              <!-- <p class="mb-0">
                        A very simple web-app I created for a buddy of mine during the 2018 PGA Championship!
                    </p> -->
            </span>
          </span>
          <img
            class="img-fluid portfolio-img-fluid"
            src="{{ url_for('static', filename='img/antiCellulite-1.jpg') }}"
            width="100%"
            alt=""
          />
        </a>
      </div>
      <div class="col-lg-6">
        <a class="portfolio-item" href="#">
          <span class="caption">
            <span class="caption-content">
              <h1>Deep Tissue</h1>
              <!-- <p class="mb-0">
                This is the website I made for my sister, Loisa Palcu! It is a
                very complex site that allows her to make changes without my
                intervention.
              </p> -->
            </span>
          </span>
          <img
            class="img-fluid portfolio-img-fluid"
            src="{{ url_for('static', filename='img/deepTissue-1.jpg') }}"
            width="100%"
            alt=""
          />
        </a>
      </div>
      <div class="col-lg-6">
        <a class="portfolio-item" href="#">
          <span class="caption">
            <span class="caption-content">
              <h1>Pregnancy</h1>
              <!-- <p class="mb-0">
                This is the website I made for my sister, Loisa Palcu! It is a
                very complex site that allows her to make changes without my
                intervention.
              </p> -->
            </span>
          </span>
          <img
            class="img-fluid portfolio-img-fluid"
            src="{{ url_for('static', filename='img/pregnancy-1.jpg') }}"
            width="100%"
            alt=""
          />
        </a>
      </div>
      <div class="col-lg-6">
        <a class="portfolio-item" href="#">
          <span class="caption">
            <span class="caption-content">
              <h1>Reflexology</h1>
              <!-- <p class="mb-0">
                This is the website I made for my sister, Loisa Palcu! It is a
                very complex site that allows her to make changes without my
                intervention.
              </p> -->
            </span>
          </span>
          <img
            class="img-fluid portfolio-img-fluid"
            src="{{ url_for('static', filename='img/reflexology-1.jpg') }}"
            width="100%"
            alt=""
          />
        </a>
      </div>
      <div class="col-lg-6">
        <a class="portfolio-item" href="#">
          <span class="caption">
            <span class="caption-content">
              <h1>Relaxation</h1>
            </span>
          </span>
          <img
            class="img-fluid portfolio-img-fluid"
            src="{{ url_for('static', filename='img/relaxation-1.jpg') }}"
            width="100%"
            alt=""
          />
        </a>
      </div>
      <div class="col-lg-6">
        <a class="portfolio-item" href="#">
          <span class="caption">
            <span class="caption-content">
              <h1>Sports</h1>
              <!-- <p class="mb-0">
                This is the website I made for my sister, Loisa Palcu! It is a
                very complex site that allows her to make changes without my
                intervention.
              </p> -->
            </span>
          </span>
          <img
            class="img-fluid portfolio-img-fluid"
            src="{{ url_for('static', filename='img/sports-1.jpg') }}"
            width="100%"
            alt=""
          />
        </a>
      </div>
    </div>
  </div>
</section>
