{% include "index.html" %}

{% include "includes/googleAnalytics.html" %}

{% include "includes/nav.html" %}

<header id="mastheadAbout" class="masthead">
    <div class="container-fluid d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase">Made Man Movement</h1>
        <h2 class="text-white-50 mx-auto mt-2 mb-5">
            About Us
        </h2>
        <!-- <a href="#mission" class="btn btn-primary js-scroll-trigger">Our Mission</a> -->
        </div>
    </div>
</header>

    <!-- <section id="underHeader" class="underHeader text-center">
    <ul class="nav justify-content-center">
        <li class="nav-item underHeader-pills mission">
            <a class="nav-link mission" href="#event1">History</a>
        </li>
        <li class="nav-item underHeader-pills projects">
        <a class="nav-link projects js-scroll-trigger" href="#event2">Team</a>
        </li>
    </ul>
    </section> -->

<section id="event1" class="projects-section bg-light">
</section>

<section id="event2" class="projects-section bg-light">
</section>

<!-- footer Section -->
{% include "includes/footer.html" %}

{% include "includes/scrollToTop.html" %}