<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Boca Salons</title>

    <!-- FIXME: Figure out something better for this icon b/c it looks terrible lol -->
    <link rel="icon" href="{{ url_for('static', filename='img/favicon-globe.ico') }}">

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/fonts/varela.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/fonts/nunito.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/grayscale.css') }}" rel="stylesheet">

    <link href="{{ url_for('static', filename='css/emima-site.css') }}" rel="stylesheet">
    
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>

  </head>

  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  <!-- Plugin JavaScript -->
  <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

</html>


